@model TLC_WebApp.Models.Game
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
@{
    ViewData["Title"] = "New Game";
}

<h2>Game</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
