@model TLC_WebApp.Models.Game

<link rel="stylesheet" href="~/css/GameDesign.css" type="text/css" />

<h2>
    @TLC_WebApp.Controllers.GameBoardsController.game.title
</h2>

<p>
    <a asp-action="NewGame">New Game</a>
</p>


<div class="game-design" id="gameBoard">
    <form id="form" asp-action="Clicked">
        <!--Put GameBoard here:      -->
     </form>
</div>

<h3>@TLC_WebApp.Controllers.GameBoardsController.game.whoGoesNext</h3>

<form asp-action="TeachTheAI">
    <button class="btn col">
        Teach The AI!!!
    </button>
</form>

